.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}

ListView Image {
    width: 40;
    height: 40;
    margin-right: 5;
}

.conference-title {
    horizontal-align: center;
    font-size: 45;   
}

.conference-address {
    horizontal-align: center;
    font-size: 12;   
}

.conference-details {
    margin-top: 100;
    horizontal-align: center;   
}

.sml-logo {
    width: 300;
}

.presentation-item {
    margin: 5;
}

.presentation-item-author {
    font-size: 14;
}

.presentation-item-title {
    font-size: 18;
}

.presentation-item-date {
    font-size: 12;
}

.break {
    font-weight: bold;
}

.map-map {
    margin-top: 50;
    font-size: 25;
    font-family: 'Courier';
    horizontal-align: center;
}

.map-troll {
    margin-top: 325;
    width: 350;
    height: 350;
}

.about-label {
    margin: 5;
    font-size: 11;
    vertical-align: center;
}

.debug {
    border-color: red;
    border-width: 3;
}
